<!doctype html>
<html lang="en">
<head>
{{>head}}
</head>
<body id="page-top">
    {{>navbar}}
    <div id="wrapper">
        {{>sidebar}}
        <div id="content-wrapper">
            <div class="container-fluid">
                {{> leagues}}                
                {{> footer}}
            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- /#wrapper -->
    </div>
{{>scripts}}
<script src="/javascripts/leagues.js"></script>
</body>
</html>

