<!doctype html>
<html lang="en">

<head>
{{>head}}
</head>

<body id="page-top">
    {{>navbar}}
    <div id="wrapper">
        {{>sidebar}}

        <div id="content-wrapper">
            <div class="container-fluid">



                <!-- /.container-fluid -->

                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright © Your Website 2019</span>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- /#wrapper -->

        <!-- Scroll to Top Button-->
        {{!-- <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a> --}}
    </div>

{{>scripts}}

</body>

</html>

